{% extends 'base.html' %}

{% block content %}

<div class="container d-flex justify-content-center align-items-center" style="height:80vh;">

    <div class="card shadow-lg p-4" style="width: 380px; border-radius: 15px;">

        <h3 class="text-center mb-4">Create Account 🚀</h3>
        <p class="text-center text-muted mb-4">Sign up to start tracking expenses</p>

        <form method="POST">

            <div class="mb-3">
                <label class="form-label">Username</label>
                <input type="text" name="username" class="form-control" placeholder="Choose username" required>
            </div>

            <div class="mb-3">
                <label class="form-label">Password</label>
                <input type="password" name="password" class="form-control" placeholder="Create password" required>
            </div>

            <button class="btn btn-primary w-100">
                Register
            </button>

        </form>

        <p class="text-center mt-3 mb-0">
            Already have account?
            <a href="{{ url_for('login') }}">Login</a>
        </p>

    </div>

</div>

{% endblock %}